


/* —————————————————头像栏————————————————— */

/* 关于页图标动画 */
@media (min-width:424px) {
    .about .container.nopadding-x-md img.img-fluid {
        animation: getdown-about 0.5s ease, getsolid-about 0.4s ease;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
}

/* 头像下移动画 */
@keyframes getdown-about {
    from {
        transform: translate(0rem, -2rem);
    }

    to {
        transform: translate(0, 0);
    }
}

/* 渐入动画 */
@keyframes getsolid-about {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}


/* —————————————————内容快————————————————— */

/* 第一栏 */
.about .author-content:nth-child(1){
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
}

.about #posts-chart {
    height: 100% !important;
    width: calc(50% - 10px);
    border-radius: 12px;
    box-shadow: var(--box-shadow-unfocus);
    border: 1px solid var(--unfocus-border-color) !important;
    background: white;
    padding: 30px 20px 0 !important;
    height: 400px !important;
}

.about #categories-chart {
    height: 100% !important;
    width: calc(50% - 10px);
    border-radius: 12px;
    box-shadow: var(--box-shadow-unfocus);
    border: 1px solid var(--unfocus-border-color) !important;
    background: white;
    padding: 30px 20px !important;
    height: 400px !important;
}


/* ———————————————响应式布局——————————————— */
@media(max-width:767px) {

    .about .author-content:nth-child(1){
        display: block;
    }
    
    .about #posts-chart {
        width: 100%;
    }
    
    .about #categories-chart {
        margin-top: 20px;
        width: 100%;
    }
}
