/* ______基于 Fluid 主题添加动画______ */



/* --------通用动画-------- */

/* 通用动画：渐入*/
@keyframes getsolid{
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-o-keyframes getsolid{
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-moz-keyframes getsolid{
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes getsolid{
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}


/* 通用动画：文字上移 */
@keyframes getnote{
  from {
    transform: translate(0rem,3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-o-keyframes getnote{
  from {
    transform: translate(0rem,3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-moz-keyframes getnote{
  from {
    transform: translate(0rem,3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-webkit-keyframes getnote{
  from {
    transform: translate(0rem,3rem);
  }
  to {
    transform :translate(0,0);
  }
}


/* 通用动画：文字下移 */
@keyframes getnotedown{
  from {
    transform: translate(0rem,-3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-o-keyframes getnotedown{
  from {
    transform: translate(0rem,-3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-moz-keyframes getnotedown{
  from {
    transform: translate(0rem,-3rem);
  }
  to {
    transform :translate(0,0);
  }
}
@-webkit-keyframes getnotedown{
  from {
    transform: translate(0rem,-3rem);
  }
  to {
    transform :translate(0,0);
  }
}


/* 通用导航栏进入 */
.header-inner nav {
  animation: getnotedown 1s ease, getsolid 0.4s ease-in;
  animation-fill-mode: both;
}
/* 通用页面进入 */
@media (min-width:424px) {
  .container #board {
    animation: getup 1s ease, getsolid 0.4s ease-in-out;
    animation-fill-mode: both;
  }
  @keyframes getup{
    from {
      transform: translate(0,4rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-o-keyframes getup{
    from {
      transform: translate(0,4rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-moz-keyframes getup{
    from {
      transform: translate(0,4rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-webkit-keyframes getup{
    from {
      transform: translate(0,4rem);
    }
    to {
      transform :translate(0,0);
    }
  }
}




/* --------主页动画-------- */

/* 主页鼠标悬浮动画 */
@media (min-width:424px) {
  .row.mx-auto.index-card {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
  }
  .row.mx-auto.index-card:hover{
    transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}


/* 手机端主页进入动画 */
@media (max-width:424px) {
  .container.nopadding-x-md .container {
    animation: getnote 1s ease, getsolid 0.4s ease-in;
    animation-fill-mode: both;
  }
}




/* --------归档页动画--------- */

/* 归档页悬停动画和字体修改 */
.archive .list-group p.h4,
.tag .list-group p.h4,
.category .list-group p.h4,
.thesisReading .list-group p.h4,
.civilEngineeringBody .list-group p.h4 {
  font-size: 1.8rem;
  font-weight: 500; 
  margin-top: 2rem;
}
.archive .list-group p.h5,
.tag .list-group p.h5,
.category .list-group p.h5,
.thesisReading .list-group p.h5,
.civilEngineeringBody .list-group p.h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.archive .list-group .list-group-item,
.tag .list-group .list-group-item,
.category .list-group .list-group-item,
.thesisReading .list-group .list-group-item,
.civilEngineeringBody .list-group .list-group-item {
  transition: 0.2 ease;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  font-size: 1.1rem;
}
@media (min-width:424px) {
  .archive .list-group .list-group-item:hover,
  .tag .list-group .list-group-item:hover, 
  .category .list-group .list-group-item:hover,
  .thesisReading .list-group .list-group-item:hover,
  .civilEngineeringBody .list-group .list-group-item:hover {
    transform: scale(1.02);
    -o-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}
@media (max-width:767px) and (min-width:575px){
  .archive .list-group ,
  .tag .list-group , 
  .category .list-group,
  .thesisReading .list-group,
  .civilEngineeringBody .list-group{
    margin-left:2rem;
  }
}
@media (max-width:424px) {
  .archive .container.nopadding-x-md .container,
  .tag .container.nopadding-x-md .container,  
  .category .container.nopadding-x-md .container,
  .thesisReading .container.nopadding-x-md .container,
  .civilEngineeringBody .container.nopadding-x-md .container{
    animation: getnote 1s ease, getsolid 0.4s ease-in;
    animation-fill-mode: both;
  }
  .archive .list-group .list-group-item,
  .tag .list-group .list-group-item,
  .category .list-group .list-group-item,
  .thesisReading .list-group .list-group-item,
  .civilEngineeringBody .list-group .list-group-item {
    font-size: 1rem;
  }
  .archive .list-group p.h4,
  .tag .list-group p.h4,
  .category .list-group p.h4,
  .thesisReading .list-group p.h4,
  .civilEngineeringBody .list-group p.h4 {
    font-size: 1.6rem;
  }
  .archive .list-group p.h5,
  .tag .list-group p.h5,
  .category .list-group p.h5,
  .thesisReading .list-group p.h5,
  .civilEngineeringBody .list-group p.h5 {
    font-size: 1.3rem;
  }

  .civilEngineeringBody .list-group-item time{
    display: none;
  }
}




/* --------分类页动画-------- */

/* 分类页悬停动画和字体修改 */
.categories #board .category-post-list .list-group-item {
  transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  font-size: 1.1rem;
}
.categories #board .category-item, 
.categories #board .category-subitem{
  font-size: 1.5rem;
}
.categories .category-count {
  font-size: 1rem;
}
@media (min-width:424px) {
  .categories .category-post-list .list-group-item:hover{
    transform: scale(1.02);
    -o-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}
@media (max-width:424px) {
  .categories .category-item,
  .categories .category-count {
    animation: getnote 1s ease, getsolid 0.4s ease-in;
    animation-fill-mode: both;
  }
  .categories #board .category-post-list .list-group-item {
    font-size: 1rem;
  }
  .categories #board .category-item, 
  .categories #board .category-subitem{
    font-size: 1.3rem;
  }
  .categories .category-count {
    font-size: 0.9rem;
  }
}




/* --------关于页动画-------- */

/* 关于页图标动画 */
@media (min-width:424px) {
  .about .container.nopadding-x-md img.img-fluid {
    animation: getdown 0.5s ease,getsolid 0.4s ease;
    animation-delay: 0.5s;
    animation-fill-mode: both;
  }
  @keyframes getdown{
    from {
      transform: translate(0rem,-2rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-o-keyframes getdown{
    from {
      transform: translate(0rem,-2rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-moz-keyframes getdown{
    from {
      transform: translate(0rem,-2rem);
    }
    to {
      transform :translate(0,0);
    }
  }
  @-webkit-keyframes getdown{
    from {
      transform: translate(0rem,-2rem);
    }
    to {
      transform :translate(0,0);
    }
  }
}
@media (max-width:424px) {
  .about .container.nopadding-x-md .container {
    animation: getnote 1s ease, getsolid 0.4s ease-in;
    animation-fill-mode: both;
  }
}




/* --------文章页动画-------- */

/*目录进入 */
.container-fluid.nopadding-x #mysidebar.mysidebar-right {
  animation: getright 1s ease;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.container-fluid.nopadding-x aside.sidebar .category-list{
  margin-left: -1rem;
}
@keyframes getright{
  from {
    transform: translate(-1.5em,0em);
    opacity: 0;
  }
  to {
    transform :translate(0,0);
    opacity: 100;
  }
}
@-o-keyframes getright{
  from {
    transform: translate(-1.5em,0em);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 100;
  }
}
@-moz-keyframes getright{
  from {
    transform: translate(-1.5em,0em);
    opacity: 0;
  }
  to {
    transform :translate(0,0);
    opacity: 100;
  }
}
@-webkit-keyframes getright{
  from {
    transform: translate(-1.5em,0em);
    opacity: 0;
  }
  to {
    transform :translate(0,0);
    opacity: 100;
  }
}


/* 文章页文字进入 */
@media (max-width:424px) {
  .post .container-fluid.nopadding-x .post-content{
    animation: getnote 1s ease, getsolid 0.4s ease-in;
    animation-fill-mode: both;
  }
}


/* 文章页标题进入 */
.post .banner-text.text-center.fade-in-up{
  animation: getnotedown 1s ease, getsolid 0.4s ease-in;
  animation-fill-mode: both;
}