/* ----------归档页样式---------- */




/* 归档页字体修改 */
.archive .list-group p.h4,
.tag .list-group p.h4,
.category .list-group p.h4,
.thesisReading .list-group p.h4,
.civilEngineeringBody .list-group p.h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
}

.archive .list-group p.h5,
.tag .list-group p.h5,
.category .list-group p.h5,
.thesisReading .list-group p.h5,
.civilEngineeringBody .list-group p.h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.archive .list-group .list-group-item,
.tag .list-group .list-group-item,
.category .list-group .list-group-item,
.thesisReading .list-group .list-group-item,
.civilEngineeringBody .list-group .list-group-item {
    font-size: 1.1rem;
}

@media (max-width:767px) and (min-width:575px) {

    .archive .list-group,
    .tag .list-group,
    .category .list-group,
    .thesisReading .list-group,
    .civilEngineeringBody .list-group {
        margin-left: 2rem;
    }
}

/* 手机端字体修改 */
@media (max-width:424px) {

    .archive .list-group .list-group-item,
    .tag .list-group .list-group-item,
    .category .list-group .list-group-item,
    .thesisReading .list-group .list-group-item,
    .civilEngineeringBody .list-group .list-group-item {
        font-size: 1rem;
    }

    .archive .list-group p.h4,
    .tag .list-group p.h4,
    .category .list-group p.h4,
    .thesisReading .list-group p.h4,
    .civilEngineeringBody .list-group p.h4 {
        font-size: 1.6rem;
    }

    .archive .list-group p.h5,
    .tag .list-group p.h5,
    .category .list-group p.h5,
    .thesisReading .list-group p.h5,
    .civilEngineeringBody .list-group p.h5 {
        font-size: 1.3rem;
    }

    .civilEngineeringBody .list-group-item time {
        display: none;
    }
}




/* 设置日期在右侧显示 */
.archive .list-group .list-group-item,
.tag .list-group .list-group-item,
.category .list-group .list-group-item,
.thesisReading .list-group .list-group-item,
.civilEngineeringBody .list-group .list-group-item {
    justify-content: space-between;
}




/* 归档页悬停动画 */
.archive .list-group .list-group-item,
.tag .list-group .list-group-item,
.category .list-group .list-group-item,
.thesisReading .list-group .list-group-item,
.civilEngineeringBody .list-group .list-group-item {
    transition: 0.3s ease-out;
}

@media (min-width:424px) {

    .archive .list-group .list-group-item:hover,
    .tag .list-group .list-group-item:hover,
    .category .list-group .list-group-item:hover,
    .thesisReading .list-group .list-group-item:hover,
    .civilEngineeringBody .list-group .list-group-item:hover {
        transform: scale(1.02);
    }
}




/* 手机端入场动画 */
@media (max-width:424px) {

    .archive .container.nopadding-x-md .container,
    .tag .container.nopadding-x-md .container,
    .category .container.nopadding-x-md .container,
    .thesisReading .container.nopadding-x-md .container,
    .civilEngineeringBody .container.nopadding-x-md .container {
        animation: getnote-archive 1s ease, getsolid-archive 0.4s ease-in;
        animation-fill-mode: both;
    }
}

/* 文字上移动画 */
@keyframes getnote-archive {
    from {
        transform: translate(0rem, 3rem);
    }

    to {
        transform: translate(0, 0);
    }
}

/* 渐入动画 */
@keyframes getsolid-archive {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}




