

/* ———————————————左右栏属性——————————————— */

.archive .body-content #coloum-left{
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--unfocus-border-color);
    padding: 20px 40px;
    box-shadow: var(--box-shadow-dark);
}


/* ————————————————左栏属性———————————————— */

/* ----------归档页+分类页字体修改---------- */
#coloum-left .list-group p.h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
}

#coloum-left .list-group p.h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#coloum-left .list-group .list-group-item,                  /* 归档页 */
.categories .category-post-list .list-group-item {          /* 分类页 */
    font-size: 1.1rem;
    padding: 10px 0px 10px 12px;
    margin: 2px 0px 2px 8px;
    width: calc(100% - 1rem);
    justify-content: space-between;
}

#coloum-left .list-group .list-group-item time,             /* 归档页 */
.categories .category-post-list .list-group-item time {     /* 分类页 */
    flex: 0 0 60px;
}

/* 字体大小适配 */
@media (max-width:424px) {

    .archive .body-content #coloum-left {
        padding: 0px 20px 10px;
    }

    #coloum-left .list-group .list-group-item,
    .categories .category-post-list .list-group-item {
        font-size: 1rem;
        padding-left: 0;
    }

    #coloum-left .list-group .list-group-item time,
    .categories .category-post-list .list-group-item time {
        flex: 0 0 50px;
    }

    #coloum-left .list-group p.h4 {
        font-size: 1.4rem;
    }

    #coloum-left hr {
        margin-top: 0.5rem;
    }

    #coloum-left .list-group p.h5 {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }

    .civilEngineeringBody .list-group-item time {
        display: none;
    }
}


/* ----------归档页+分类页悬停动画---------- */
#coloum-left .list-group .list-group-item,
.categories .category-post-list .list-group-item {
    transition: 0.4s ease;
    border-radius: 10px;
}

@media (min-width:424px) {

    #coloum-left .list-group .list-group-item:hover,
    .categories .category-post-list .list-group-item:hover {
        transform: scale(1.01);
        color: white;
        background: var(--block-bg-focus-color);
        box-shadow: var(--box-shadow-focus);
    }
}

/* 取消手机端动画 */
@media (max-width:424px) {

    #coloum-left .list-group .list-group-item:hover,
    .categories .category-post-list .list-group-item:hover {
        color: var(--text-color);
        background: white;
    }
}


