/* ----------主页样式---------- */




/* 主页鼠标悬浮动画 */
@media (min-width:424px) {
    .row.mx-auto.index-card {
        transition: 0.5s ease;
    }

    .row.mx-auto.index-card:hover {
        transform: scale(1.05);
    }
}




/* 手机端主页进入动画 */
@media (max-width:424px) {
    .container.nopadding-x-md .container {
        animation: getnote-home 1s ease, getsolid-home 0.4s ease-in;
        animation-fill-mode: both;
    }
}

/* 文字上移动画 */
@keyframes getnote-home {
    from {
        transform: translate(0rem, 3rem);
    }

    to {
        transform: translate(0, 0);
    }
}

/* 渐入动画 */
@keyframes getsolid-home {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}