

/* ————————————————头栏属性———————————————— */

/* ---------------头栏总属性--------------- */
.home-top {
    height: min-content;
    padding: 0;
}

.home-top .home-top-down{
    display: flex;
    flex-direction: row;
    height: 340px;
    padding-bottom: 20px;
}

.home-top #bannerGroup {
    width: 50%;
    margin-right: 10px;
    position: relative;
    height: 100%;
}


/* ----------------勿忘草栏---------------- */
.home-top #banner {
    transform-style: preserve-3d;
    perspective: 4000px;
    height: calc(76% - 6px);
    border-radius: 12px;
    margin-bottom: 12px;
}

.home-top #banner #myosotis-bar{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: var(--box-shadow-unfous);
    transition: 0.6s ease;
    border: 1px solid var(--unfocus-border-color);
}

.home-top #banner #myosotis-bar .banner-title {
    position: absolute;
}

.home-top #banner #myosotis-bar .banner-title {
    margin: 30px 0 0 30px;
}

.home-top #banner #myosotis-bar .banners-title-big {
    font-size: 38px;
    font-weight: bold;
    height: 45px;
    letter-spacing: 1px;
}

.home-top #banner #myosotis-bar .banners-title-small {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.4);
}

/* 随便逛逛栏 */
.home-top #banner #banner-hover {
    border: 1px solid var(--focus-border-color);
    transform: rotateX(180deg);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 12px;
    transition: 0.6s ease;
    backface-visibility: hidden;
    box-shadow: var(--box-shadow-focus);
    overflow: hidden;
}

.home-top #banner #banner-hover .bannerText {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: 80px;
    bottom: 30px;
    white-space: nowrap;
}

.home-top #banner #banner-hover .bannerText span {
    position: relative;
    z-index: 1;
}

.home-top #banner #banner-hover i{
    position: relative;
    font-size: 500%;
    color: rgba(44, 77, 196, 0.08);
    filter: blur(2px);
    opacity: 0.6;
    z-index: 0;
    margin-right: 30px;
}

.home-top #banner #banner-hover .bannerText2 {
    font-size: 20px;
    position: absolute;
    right: 80px;
    bottom: 125px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.4);
}

/* 随便逛逛栏：鼠标悬浮 */
.home-top #banner:hover #banner-hover {
    transform: rotateX(0deg);
}

.home-top #banner:hover #myosotis-bar {
    transform: rotateX(-180deg);
}

/* 天气滚动条 */
.tags-group-all {
    display: flex;
    transform: rotate(-30deg);
}

.tags-group-wrapper {
    margin-top: 110px;
    display: flex;
    flex-wrap: nowrap;
    animation: rowup 60s linear infinite;
}

@keyframes rowup {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.tags-group-icon-pair {
    margin-left: 18px;
}

.tags-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 66px;
    font-weight: bold;
    box-shadow: 0 2px 16px -3px rgba(0, 0, 0, .15);
}

.tags-group-icon {
    width: 115px;
    height: 115px;
    border-radius: 25px;
    padding: 20px;
}

.tags-group-icon i {
    margin: auto;
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
    margin-top: 18px;
    transform: translate(-60px);
}


/* ---------------快捷分类栏--------------- */
.home-top .categoryGroup {
    display: flex;
    flex-direction: row;
    height: calc(24% - 6px);
    justify-content: space-between;
}

.home-top .categoryGroup .categoryItem {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    border-radius: 12px;
    transition: 0.6s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 12px -3px #4259ef23;
}

.home-top .categoryGroup .categoryItem:nth-last-child(1) {
    margin-right: 0rem;
}

.home-top .categoryGroup .categoryItem:nth-child(1) {
    background: linear-gradient(to left, #96D3D8, #6EC7D7);
}

.home-top .categoryGroup .categoryItem:nth-child(2) {
    background: linear-gradient(to left, #cade95, #9ecba9);
}

.home-top .categoryGroup .categoryItem:nth-child(3) {
    background: linear-gradient(to left, #f0be95, #f1aea7);
}

.home-top .categoryGroup .categoryItem .categoryButton {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 18px 0 0 15px;
}

.home-top .categoryGroup .categoryItem .categoryButtonText {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.home-top .categoryGroup .categoryItem i {
    font-size: 5rem;
    opacity: 0.2;
    position: absolute;
    right: -10%;
    top: 20%;
    transition: 0.6s ease;
    width: 100px;
    filter: blur(2px);
    color: white;
    transform: rotateZ(30deg);
    text-align: center;
    transition: 0.5s ease;
}

/* 文字下划线 */
.home-top .categoryGroup .categoryItem:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 50px;
    height: 2px;
    width: 20px;
    background-color: white;
    transition: 0.6s ease;
}

/* 快捷分类栏：鼠标悬浮 */
.home-top .categoryGroup .categoryItem:hover:after {
    width: 80px;
}

.home-top .categoryGroup .categoryItem:hover i {
    font-size: 3rem;
    transform: rotateZ(0deg);
    opacity: 1;
    filter: blur(0px);
    right: 0%;
    top: 17%;
}

.home-top .categoryGroup .categoryItem:hover {
    width: 50%;
}



/* ---------------轮播通知条--------------- */
.swiper-bar {
    width: 100%;
    height: 50px;
    background: var(--body-newbg-color);
    margin: 0rem 0 20px 0;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border:1px solid var(--unfocus-border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-unfocus);
    transition: 0.4s ease;
}

.swiper-bar:hover {
    border:1px solid var(--focus-border-color);
    box-shadow: var(--box-shadow-focus);
}

/* 通知标志 */
.swiper-bar .swiper-title {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 4rem;
    font-weight: bold;
    margin-left: 1rem;
}

.swiper-bar .swiper-title span,
.swiper-bar .swiper-title i{
    display: block;
    margin: auto;
}

.swiper-bar .swiper-title i {
    color: orange;
}

.swiper-bar .swiper-title span{
    margin-left: 0.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 46px;
}

/* 左侧元素：用于平衡位置 */
.swiper-bar .swiper-sth {
    margin-right: 5rem;
}

/* 轮播提示语 */
.swiper-bar .swiper-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
    animation: swiper-bar 20s linear infinite;
}

.swiper-bar .swiper-content span {
    display: block;
    margin: auto;
    height: 3rem;
    text-align: center;
    line-height: 46px;
    width: 100%;
    float: top;
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

@keyframes swiper-bar {
    0% {
        top:0rem;
    }
    24% {
        top:0rem;
    }
    25% {
        top:-3rem;
    }
    49% {
        top:-3rem;
    }
    50% {
        top:-6rem;
    }
    74% {
        top:-6rem;
    }
    75% {
        top:-9rem;
    }
    99% {
        top:-9rem;
    }
    100% {
        top:-12rem;
    }
}

@media (max-width:767px) {

    /* 调整左侧填充元素大小 */
    .swiper-bar .swiper-sth {
        margin-right: 2rem;

    }

    /* 通知标志取消汉字 */
    .swiper-bar .swiper-title span {
        display: none;
    }

    /* 通知标志 */
    .swiper-bar .swiper-title {
        width: 1rem;
    }

    /* 轮播提示语 */
    .swiper-bar .swiper-content {
        width: calc(100% - 2rem);
    }
}



@media (max-width:424px) {


    /* 调整轮播条整体大小 */
    .swiper-bar {
        height: 2.5rem;
        margin: 0rem 0 1rem 0;
    }

    /* 调整左侧填充元素大小 */
    .swiper-bar .swiper-sth {
        margin-right: 2rem;

    }

    /* 通知标志 */
    .swiper-bar .swiper-title {
        font-size: 16px;
    }


    /* 调整轮播提示语宽度 */
    .swiper-bar .swiper-content{
        width: calc(100% - 3rem);
        animation: swiper-bar-small 20s linear infinite;
    }

    .swiper-bar .swiper-content span {
        height: 2.5rem;
        line-height: 38px;
        font-size: 16px;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    @keyframes swiper-bar-small {
        0% {
            top:0rem;
        }
        24% {
            top:0rem;
        }
        25% {
            top:-2.5rem;
        }
        49% {
            top:-2.5rem;
        }
        50% {
            top:-5rem;
        }
        74% {
            top:-5rem;
        }
        75% {
            top:-7.5rem;
        }
        99% {
            top:-7.5rem;
        }
        100% {
            top:-10rem;
        }
    }
}



/* --------------右侧推荐文章-------------- */
.home-top .topGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
    align-content: space-between;
    width: 50%;
    position: relative;

}

.topGroup .topGroup-item {
    display: flex;
    width: 210px;
    min-width: 210px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    max-height: calc(50% - 5px);
    border: 1px solid var(--unfocus-border-color);
    transition: 0.4s ease;
    position: relative;
    box-shadow: var(--box-shadow-unfocus);
    margin-bottom: 10px;
}

    
.topGroup .topGroup-item:hover .topGroup-item-info span{
    color: var(--text-color);
}

/* 鼠标悬浮交互 */
@media(min-width:424px){
    .topGroup .topGroup-item:hover {
        border: 1px solid var(--focus-border-color);
        transform: scale(1.02);
        box-shadow: var(--box-shadow-focus);
    }
    


}

.topGroup .topGroup-item a {
    width: 100%;
    height: 100%;
}

.topGroup .topGroup-item-img {
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.topGroup .topGroup-item-img img{
    width: 100%;
}

.topGroup .topGroup-item-info {
    height: 63px;
    background:#f8f9fc;
    padding: 15px 15px 6px 15px;
}

.topGroup .topGroup-item-info span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 25px;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px !important;
    padding: 0 !important;
    transition: 0.2s ease;
}

/* 覆盖卡片 */
.topGroup .faceCard{
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    background: white;
    /* opacity: 0.3; */
    border-radius: 12px;
    box-shadow: var(--box-shadow-unfocus);
    border:1px solid var(--unfocus-border-color);
    transition: 0.4s ease;
}

.topGroup .faceCard .Card-info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    max-width: 60%;
    transition: 0.4s ease;
}
.topGroup .faceCard .Card-info .Card-tips {
    opacity: 0.8;
    font-size: 6px;
}
.topGroup .faceCard .Card-info .Card-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color:var(--text-color);
}

.topGroup .banner-button-group {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    transition: 0.4s ease;
}
.topGroup .banner-button {
    background: var(--body-newbg-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.4s ease;
    cursor: pointer;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 40px;
    width: 124px;
    justify-content: center;
    border: 1px solid var(--unfocus-border-color);
    box-shadow: var(--box-shadow-unfocus)
}
.topGroup .banner-button:hover {
    background: #227ab4d4;
    color: white;
    transform: scale(1.1);
    box-shadow: var(--box-shadow-focus)
}

.topGroup .banner-button i {
    margin-right: 8px;
    font-size: 20px;
}

/* 卡片小动画 */
.topGroup .faceCard .cardAni{
    transition: 0.4s ease;
    width: 100%;
    height: 100%;
}
.loader {
    height: 90px;
    display: flex;
    transform: rotate(180deg);
    position: absolute;
    right:40px;
    bottom:150px;
}

.loader span {
    width: 42px;
    margin: 0 5px;
    border-radius: 4px;
    animation: loading 3.6s infinite;
}

@keyframes loading {

    0%, 100% {
        height: 10px;
        background: #ffd166;
    }

    25% {
        height: 120px;
        background: #06d6a0;
    }

    50% {
        height: 40px;
        background: #118ab2;
    }

    75% {
        height: 120px;
        background: #ef476f;
    }

}

.loader span:nth-child(1) {
    animation-delay: .2s;
}

.loader span:nth-child(2) {
    animation-delay: .4s;
}

.loader span:nth-child(3) {
    animation-delay: .6s;
}

.loader span:nth-child(4) {
    animation-delay: .8s;
}

.loader span:nth-child(5) {
    animation-delay: 1s;
}
.loader span:nth-child(6) {
    animation-delay: 1.2s;
}

/* 卡片消失 */
.topGroup .faceCard.hide {
    opacity: 0;
    pointer-events: none;
}

.topGroup .faceCard.hide .banner-button-group {
  bottom: 20px;
}

.topGroup .faceCard.hide .cardAni{
  transform: translateY(-30px);
  opacity: 0;
}
.topGroup .faceCard.hide .Card-info {
  bottom: 20px;
  opacity: 0;
}







/* ————————————————左栏属性———————————————— */

/* ----------------分类导航---------------- */
#category-bar {
    box-shadow: var(--box-shadow-dark);
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 10px;
    background: white;
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid var(--unfocus-border-color);
    transition: 0.4s ease-in-out;
    width: 100%;
    justify-content: space-between;
}

#category-bar .category-bar-items {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    height: 32px;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

#category-bar .category-bar-items::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}

#category-bar .category-bar-more {
    margin-left: 20px;
    font-weight: bold;
    line-height: 32px;
    font-size: 18px;
}

#category-bar .category-bar-item.select a {
    background: var(--block-bg-focus-color);
    color: white;
}

#category-bar .category-bar-item a {
    padding: 1.8px 10px 2.2px;
    margin: 0 4px;
    font-weight: bold;
    border-radius: 8px;
    line-height: 32px;
    color:var(--text-color);
    transform: 0.4s ease-in-out;
    font-size: 18px;
}

/* 鼠标交互 */
@media(min-width:424px){

    #category-bar .category-bar-item:hover a {
        background: var(--block-bg-focus-color);
        color: white;
    }
}

/* 字体大小适配 */
@media(max-width:424px) {

    #category-bar {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 8px;
        margin-bottom: 15px;
        background: var(--body-newbg-color);
        border: none;
        box-shadow: none;
    }

    .home #category-bar {
        padding: 0;
        margin-bottom: 10px;
    }

    #category-bar .category-bar-item a {
        font-size: 15px;
        border-radius: 6px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #category-bar .category-bar-more {
        font-size: 15px;
    }
}


/* ----------------文章卡片---------------- */
.myindex-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

/* 单个卡片 */
.myindex-card .index-card{
    width: calc(100% / 2 - 10px);
    height: 320px;
    background: #f8f9fc;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow-unfocus);
    border-radius: 15px;
    border:1px solid var(--unfocus-border-color);
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: 0.4s ease;
    margin-left: 0;
    margin-right: 0;
}

/* 卡片图片 */
.myindex-card .index-card .index-img {
    width: 100%;
    max-width: 100% !important;
    height: 180px ;
    display: block;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
    max-height: 180px;
}

/* .myindex-card .index-card .index-img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: linear-gradient(180deg,#008aff,#008aff);
    opacity: 0.1;
} */

.myindex-card .index-card .index-img img {
    height: 180px;
    border-radius: 0;
    transition: 0.4s ease;
    box-shadow: none;
    /* filter: grayscale(100%); */
}

/* 卡片信息栏整体 */
.myindex-card .index-card .index-info{
    height: 120px;
    width: 100%;
    display: block;
    position: relative;
    padding: 30px 40px;
    transition: 0.4s ease;
    border-top:1px solid #f8f9fc;
}

/* 文章简介 */
.myindex-card .index-card .index-info .index-excerpt {
    display: none;
}

/* 文章分类 */
.myindex-card .index-card .index-info .postCate {
    position: absolute;
    top:-165px;
    left: 17px;
    background: rgb(248, 249, 252);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    transition: 0.4s ease;
}

/* 文章底部栏 */
.myindex-card .index-card .index-info .index-btm {
    margin-top: 30px;
    justify-content: space-between;
}

/* 文章卡片: 鼠标悬浮效果 */
.myindex-card .index-card:hover .index-img img{
    transform: scale(1.05);
}

.myindex-card .index-card:hover .index-info{
    border-top:1px solid var(--unfocus-border-color);
}

.myindex-card .index-card:hover{
    border:1px solid var(--focus-border-color);
    box-shadow: var(--box-shadow-focus);
}






/* ————————————————右栏属性———————————————— */

/* ---------------右侧个人栏--------------- */
#coloum-right .card-content {
    width: 100%;
    background: linear-gradient(to right, #2e9ee9d4,#53b5f6d4);
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 12px;
    overflow: hidden;
    height: 330px;
    position: relative;
    box-shadow:0 8px 12px -3px #4259ef23;;
}

/* 欢迎提示语 */
#coloum-right .card-content .card-info-avatar {
    height: 57%;
}

#coloum-right .card-content .card-info-avatar .author-info__sayhi {
    font-size: 12px;
    width: fit-content;
    text-align: center;
    padding: 2px 8px;
    color: white;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 24px;
}

#coloum-right .card-content .card-info-avatar .author-info__name {
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top:16px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: white;
}

#coloum-right .card-content .card-info-avatar .author-info__description {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    color: white;
    line-height: 1.38;
    letter-spacing: 1px;
}

/* 快捷按钮 */
#coloum-right .card-content .card-info-icon {
    margin: 0;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#coloum-right .card-content .card-info-icon i {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 32px;
    transition: all 0.4s ease;
}

#coloum-right .card-content .card-info-icon i:hover {
    background: white;
    color: #30a7f6d4;
}

/* 查看更多 */
#coloum-right .card-content .card-info-goto {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
}

#coloum-right .card-content .card-info-goto a {
    height: 40px;
    width: 124px;
    border-radius: 20px;
    justify-content: center;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    transition: all 0.4s ease;
}

#coloum-right .card-content .card-info-goto a:hover {
    background: white;
    color: #30a7f6d4;
}

#coloum-right .card-content .card-info-goto a i{
    margin-right: 8px;
    font-size: 20px;
}


/* ---------------土木快捷栏--------------- */
.to-civil {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    height: 110px;
    margin-top: 20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.to-civil #civil-content{
    width: 100%;
    height: 100%;
    padding: 25px 28px;
    backface-visibility: hidden;
    transition: 0.5s ease;
    position: relative;
    background: linear-gradient(to right,#83d872,#8cda7d);
    box-shadow: 0 8px 12px -3px #4259ef23;
    border-radius: 12px;
}

.to-civil div div {
    color: white;
}

.to-civil div div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.to-civil div div:nth-child(2) {
    margin-top: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

.to-civil div div:nth-child(2) i{
    margin-left: 5px;
}

.to-civil #civil-content div:nth-child(4) {
    position: absolute;
    font-size: 14px;
    top:27px;
    font-weight: bold;
    color: #83d872;
    background: white;
    left: 155px;
    padding: 0px 3px;
    border-radius:3px;
}


.to-civil div div.icon {
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 100px;
    bottom: 25px;
    right: 10px;
    filter: blur(2px);
    opacity: 0.2;
}

.to-civil #civil-back{
    transform: rotateY(180deg);
    box-sizing: border-box;
    display: block;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px 28px;
    top: 0;
    transition: 0.5s ease;
    background: linear-gradient(to right,#83d872,#8cda7d);
    box-shadow: 0 8px 12px -3px #4259ef23;
    border-radius: 12px;
}

.to-civil:hover #civil-content{
    transform: rotateY(-180deg);
}

.to-civil:hover #civil-back {
    transform: rotateY(0deg);
}



/* --------------博客信息统计-------------- */
.blog-info {
    margin-top: 20px;
    width: 100%;
    background: white;
    top: 70px;
    position: sticky;
    border-radius: 12px;
    border: 1px solid var(--unfocus-border-color);
    box-shadow: var(--box-shadow-dark);
    padding: 20px 24px;
}

.blog-info .tag-bar .tagcloud{
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.blog-info .tag-bar .tagcloud a{
    padding: 2px 6px;
    margin: 4px 2px;
    color: var(--text-color);
    transition: 0.4s ease;
    border-radius: 8px;
}

.blog-info .tag-bar .tagcloud a:hover{
    background: var(--block-bg-focus-color);
    color: white !important;
    transform: scale(1.05);
    box-shadow: var(--box-shadow-focus);
}

.blog-info hr {
    border: 1px dashed var(--line-color);
}

.blog-info .blog-count{
    padding: 8px 8px 0;
}

.blog-info .blog-count .count-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
}

.blog-info .blog-count .count-item i{
    margin-right: 8px;
}







/* ———————————————响应式布局——————————————— */

/* ----------------头栏适配---------------- */
@media (max-width: 1410px){

    .home-top-down {
        height: 185px !important; 
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        flex-wrap: nowrap;
        scrollbar-width: none; /* firefox */
        -ms-overflow-style: none; /* IE 10+ */
        
    }

    .home-top-down::-webkit-scrollbar { 
        display: none; /* Chrome Safari */
    }

    /* 取消勿忘草栏显示 */
    .home-top #banner{
        display: none;
    }

    /* 右侧推荐文章 */
    .topGroup .faceCard{
        display: none;
    }

    .home-top {
        position: relative;
    }

    .home-top .topGroup {
        flex-wrap: nowrap;
        justify-content: flex-start;
        border-radius: 12px;
        max-height: 100%;
        width: calc(100% - 200px);
    }

    .home-top .topGroup .topGroup-item {
        display: flex;
        max-height: 100%;
        margin-bottom: 0;
    }

    .topGroup .topGroup-item:hover {
        transform: scale(1);
    }

    /* 快捷分类栏 */
    .home-top #bannerGroup {
        width: 200px;
        margin-right: 5px;
    }

    .home-top .categoryGroup {
        height: 100%;
        flex-direction: column;
    }

    .home-top .categoryGroup .categoryItem:nth-child(2) {
        display: none;
    }

    .home-top .categoryGroup .categoryItem {
        width: 100%;
        height: calc(100%/2 - 5px);
    }

    /* 快捷分类栏：鼠标悬浮 */
    .home-top .categoryGroup .categoryItem:hover:after {
        width: 80px;
    }
    
    .home-top .categoryGroup .categoryItem:hover i {
        font-size: 3rem;
        transform: rotateZ(0deg);
        opacity: 1;
        filter: blur(0px);
        right: -5%;
        top: 20%;
    }
    
    .home-top .categoryGroup .categoryItem:hover {
        width: 100%;
    }
}

@media (max-width: 767px) {

    /* 快捷分类栏 */
    .home-top #bannerGroup {
        width: 130px;
        margin-right: 5px;
    }

    .home-top .categoryGroup .categoryItem i {
        display: none;
    }

    .home-top .categoryGroup .categoryItem {
        border-radius: 8px;
    }

    /* 快捷分类栏 */
    .home-top .categoryGroup .categoryItem .categoryButtonText {
        font-size: 18px !important;
    }

    /* 右侧推荐文章 */
    .home-top .topGroup {
        width: calc(100% - 130px);
    }
}



/* ----------------左栏适配---------------- */
@media (max-width: 1410px){

    .myindex-card .index-card{
        width: 100%;
        flex-direction: row ;
        height: 200px;
    }

    .myindex-card .index-card .index-img {
        width: 40%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .myindex-card .index-card .index-img img {
        height: 100%;
    }

    .myindex-card .index-card .index-info{
        height: 100%;
        width: 60%;
        padding: 40px 40px;
    }
    /* 文章底部栏 */
    .myindex-card .index-card .index-info .index-btm {
        margin-top: 65px;
    }
}

@media (max-width: 767px){

    .myindex-card .index-card{
        width: 100%;
        flex-direction:column;
        height: 320px;
    }

    .myindex-card .index-card .index-img {
        width: 100%;
        height: 180px ;
        height: 180px ;
    }
    .myindex-card .index-card .index-img img {
        height: 180px;
    }

    .myindex-card .index-card .index-info{
        height: 120px;
        width: 100%;
        padding: 20px 30px;
    }
    /* 文章底部栏 */
    .myindex-card .index-card .index-info .index-btm {
        margin-top: 45px;
    }
}

@media (max-width: 450px) {

    /* 底部栏单行调整为双行 */
    .myindex-card .index-card .index-info .index-btm {
        margin-top: 25px;
        justify-content:flex-start;
        flex-direction: column;
    }

    .myindex-card .index-card .index-info .postTags {
        margin-top: 0.2rem;
    }
}


