/* ----------导航栏样式---------- */




/* 通用导航栏进入 */
.header-inner nav {
    animation: getnotedown-navbar 1s ease, getsolid-navbar 0.4s ease-in;
    animation-fill-mode: both;
}

@media (min-width:992px) {
    .header-inner nav .collapse.navbar-collapse {
        animation: getnotedown-navbar 1s ease, getsolid-navbar 0.4s ease-in;
        animation-delay: 0.3s;
        animation-fill-mode: both;
    }
}

/* 文字下移动画 */
@keyframes getnotedown-navbar {
    from {
        transform: translate(0rem, -3rem);
    }

    to {
        transform: translate(0, 0);
    }
}

/* 渐入动画 */
@keyframes getsolid-navbar {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}




@media (min-width:992px) {

    /* 针对动画进行导航栏样式适配 */
    .nav-item .nav-link.middle .show {
        margin-right: 0.3rem;
        margin-left: 0.2rem;
    }

    .nav-item .nav-link.middle {
        display: flex !important;
        justify-content: center;
        color: white;
    }

    .nav-item .nav-link.middle .hidden {
        max-width: 0;
        max-height: 0;
        overflow-y: hidden;
    }

    #navbar .container {
        margin-bottom: 0.1rem;
    }

    /* 正常情况下隐藏文字 */
    .nav-item .nav-link.middle .hidden {
        animation: nav-out 0.3s ease, nav-getnone 1s ease;
        animation-fill-mode: both;
    }

    /* 鼠标悬浮显示文字 */
    .nav-item:hover .nav-link.middle .hidden {
        animation: nav-come 1s ease, nav-getsolid 0.2s ease-in 0.1s;
        animation-fill-mode: both;
        max-height: 1.3rem;
    }

    @keyframes nav-getsolid {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes nav-getnone {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes nav-getsolid {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes nav-come {
        0% {
            max-width: 0;
        }

        100% {
            max-width: 10em;
        }
    }

    @keyframes nav-out {
        0% {
            max-width: 10em;
        }

        100% {
            max-width: 0;
        }
    }
}




/* 鼠标悬浮下划线动画 */
@media (min-width:992px) {
    .nav-item .nav-link {
        position: relative;
    }

    .nav-item:hover .nav-link {
        position: relative;
        margin: 0, 0.1rem;
        color: white !important;
    }

    .nav-item .nav-link.middle:not(.child):after {
        position: absolute;
        bottom: 0;
        left: 13%;
        width: 0;
        height: 3px;
        background-color: #80c8f8;
        content: '';
        transition: all .3s ease-in-out;
    }

    .nav-item .nav-link.middle:not(.child):hover:after {
        width: 80%;
    }
}



/* 搜索按钮动画 */
@media (min-width:992px) {
    .nav-item#search-btn:hover {
        transform: scale(1.4);
        padding-left: 5px;
    }

    .nav-item#search-btn {
        transition: 0.2s;
    }

    .nav-item#search-btn:hover i {
        color: #80c8f8;
    }
}