

/* ———————————————页面总属性——————————————— */

/* ----------------字体属性---------------- */
.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body table,
.markdown-body ul {
    font-size: 16.5px;
    font-family: "pingFangSC-Regular" !important;
}

table.myform tbody {
    margin-bottom: 15px;
    color: rgb(73, 84, 101);
    font-size: 95%;
}

.markdown-body code {
    font-family: "pingFangSC-Regular" !important;
    background-color: rgba(27,31,35,.05);
}

.markdown-body pre {
    font-size: 14px !important;
}

code.hljs{
    font-family: "JetBrainsMono-Regular" !important;
}

@media(max-width: 424px) {

    .markdown-body {
        font-size: 90%;
    }

    .markdown-body blockquote,
    .markdown-body details,
    .markdown-body dl,
    .markdown-body ol,
    .markdown-body p,
    .markdown-body table,
    .markdown-body ul 
    .markdown-body h3 {
        font-size: 16px;
    }


    .markdown-body pre {
        font-size: 13px !important;
    }
}

.markdown-body h3 {
    margin-bottom: 20px;
}

.markdown-body ul li+li{
    margin-top:10px;
}

.markdown-body li>p{
    margin-bottom:10px;
    margin-top: 0;
}

.markdown-body ul>li ul{
    margin-top:10px;
}



/* ----------------页面大小---------------- */
.container.nopadding-x-md .post {
    padding-top: 48px;
  }

.container.nopadding-x-md .post .container {
    max-width: 1500px;
}
.container.nopadding-x-md .post .container > .row {
    max-width: 100%;
    margin: auto;
  }

.container#board-ctn{
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
}

.post .body-content #coloum-left{
    max-width: calc(100% - 300px) ;
    flex: 0 0 calc(100% - 300px) ;
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--unfocus-border-color);
    padding: 60px 50px;
    box-shadow: var(--box-shadow-dark);
}

/* 页面大小适配 */
@media (max-width: 1410px) {

    .post .body-content #coloum-left{
        padding: 40px;
    }
    
}

@media (max-width: 992px) {

    .post .body-content #coloum-left{
        max-width: calc(100%) ;
        flex: 0 0 calc(100%) ;
    }
}


@media (max-width: 424px) {

    .post .body-content #coloum-left{
        margin-top: 0;
        padding: 30px 20px 20px;
        border-radius: 0 !important;
    }

    .container>.post>.container{
        padding: 0 !important;
    }


    .container.nopadding-x-md .post .container>.row .col-md-10 {
        padding: 0 !important;
    }

    .container>.post{
        padding-top: 0 !important;
    }
}





/* ————————————————顶栏属性———————————————— */
header #banner .banner-text .mt-3>span {
    margin-left: 1rem;
}
header #banner .banner-text .mt-3>span:nth-child(1) {
    margin-left: 0;
}

/* 文章页标题进入 */
.post .banner-text.text-center.fade-in-up {
    animation: getnotedown 1s ease, getsolid-post 0.4s ease-in;
    animation-fill-mode: both;
}

/* 文字下移动画 */
@keyframes getnotedown-post {
    from {
        transform: translate(0rem, -3rem);
    }

    to {
        transform: translate(0, 0);
    }
}




/* ————————————————文章内容———————————————— */


/* ----------------图片样式---------------- */
img.img-center {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
}




/* --------------特殊文字样式-------------- */
font.code-word {
    color: var(--code-word-color);
}

font.code-sentence {
    color: var(--code-sentence-color);
}

font.word-stress {
    color: #008B8B;
}




/* ----------------表格样式---------------- */
.markdown-body table {
    overflow-x:scroll;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.markdown-body table::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}

table.myform tbody {
    border-spacing: 0;
    border-collapse: collapse;
    /* text-overflow: ellipsis; */
    /* word-break: keep-all; */
    white-space: nowrap;
    width: 100%;
}


/* 表格边框样式：有内框 */
table.myform tbody td {
    border-color: var(--form-border-color);
}

table.myform tbody th {
    border-color: var(--form-border-color);
}

table.myform tr:nth-child(2n+1) {
    background-color: var(--form-color);
}

table.myform tr:nth-child(2n) {
    background-color: white !important;
}

table.myform th:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}



/* ----------------代码样式---------------- */

figure.highlight table {
    transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    border-radius: 0 0 10px 10px;
}

figure.highlight table td.gutter {
    /* position: static; */
    border-bottom-left-radius: 14px;
}


figure.highlight table td.code {
    border-radius: 0 0 10px 10px;
}
.markdown-body .highlight pre,
.markdown-body .hljs,
.markdown-body figure.highlight td.gutter,
figure.highlight table {
    background-color: #f6f8fa !important;
}


/* ----------------Tabs样式---------------- */

/* 修改tabs标签内边距 */
.post .tag-common.tabs .tab-content .tab-pane,
.post .tabs-comment .tab-content .tab-pane {
    padding-left: 0;
    padding-right: 0;
}

/* 修改tabs标签外边框 */
.post .tag-common.tabs .tab-content,
.tabs-comment .tab-content {
    border: none;
}

.tag-common.tabs ul.nav-tabs li.tab,
.tabs-comment ul.nav-tabs li.tab {
    border-bottom: 1px solid var(--line-color);
}

.post .tag-common.tabs ul.nav-tabs li.tab.active,
.tabs-comment ul.nav-tabs li.tab.active {
    border-top-color: var(--tabs-color);
    border-left-color: var(--line-color);
    border-right-color: var(--line-color);
}

.post .tag-common.tabs ul.nav-tabs li.tab.active a,
.tabs-comment ul.nav-tabs li.tab.active a {
    color: var(--tabs-color);
}

.tag-common.tabs ul.nav-tabs,
.tabs-comment ul.nav-tabs {
    border: none;
}


.tag-common.tabs ul.nav-tabs li.tab a{
    font-family: "Microsoft YaHei" !important;
}





/* ———————————————侧边栏属性——————————————— */

/* ----------------目录样式---------------- */

.post .side-col{
    width: 300px !important;
    max-width: 300px !important;
    flex: 0 0 300px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

.post #mysidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    margin-left: 20px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--unfocus-border-color);
    padding: 25px 20px 20px 10px;
    box-shadow: var(--box-shadow-dark);
    font-family: "pingFangSC-Regular", sans-serif;
}

#mysidebar .content-header{
    height: 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* ----------------目录字体---------------- */

#mysidebar .sidebar a {
    font-size: 16px;
    font-family: "pingFangSC-Regular", sans-serif;
}

#mysidebar .toc-list-item.is-active-li > a{
    font-family: "pingFangSC-Semibold", sans-serif;
}


/* ----------------目录标题---------------- */

#mysidebar .content-header a{
    margin: auto;
    display: block;
    width: calc((100% - 40px) / 2);
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    font-size: 16px;
    color: rgb(0, 0, 0,0.65);
    transition: 0.4s ease;
    position: relative;
}

#mysidebar .content-header a:after{
    position: absolute;
    width: 90%;
    height: 2px;
    background: var(--block-bg-focus-color);
    left: 5%;
    bottom: 0;
    content: "";
    z-index: -1;
    max-width: 0;
    transition: 0.4s;
}

#mysidebar .content-header a.current{
    color: var(--text-color);
}

#mysidebar .content-header a.current:after{
    max-width: 100%;
}

/* 鼠标交互 */
#mysidebar .content-header a:hover{
    color: var(--text-color);
}


/* ----------------目录内容---------------- */

.toc-header {
    display: none;
}

/* 目录栏 */
#mysidebar .toc-list-item {
    margin-bottom: 8px;
}

#mysidebar .toc-list-item:first-child{
    margin-top: 8px;
}

#mysidebar .toc-list-item:last-child{
    margin-bottom: 0px;
}

.tocbot-list .tocbot-list{
    border-left: 1px solid rgb(0, 0, 0,0.2) ;
}

.container-fluid.nopadding-x aside.sidebar .category-list {
    margin-left: -1rem;
}

.tocbot-list {
    padding-left: 12px !important;
    margin-left: 8px !important;
} 

.toc-list-item,
.toc-list-item :not(.tocbot-is-collapsed){
    overflow: visible;
}

.toc-list-item:before{
    display: none;
} 

.toc-list-item a {
    position: relative;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0,0.65);
    transition: 0.4s ease !important;
    letter-spacing: 0px;
}

.toc-list-item a div.text{
    width: 100%;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toc-list-item a:after{
    position: absolute;
    width: calc(100% + 2px);
    height: 28px;
    top: -3px;
    left: -6px;
    background: var(--block-bg-focus-color);
    box-shadow: var(--box-shadow-focus);
    border-radius: 6px;
    content: "";
    z-index: -1;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.4s ease;
} 

.toc-list-item a:hover{
    color: var(--text-color);
} 


.toc-list-item.is-active-li>a:after{
    transform: scale(1);
    opacity: 1;
} 

.toc-list-item.is-active-li>a{
    color: white;
    font-weight: normal;
}

/* 分类栏 */
.category-bar .category-title {
    display: none;
}

.category-bar .list-group-item {
    margin: 8px 0;
}

.category-bar .list-group-item time{
    display: none;
}

.category-bar .list-group-item span {
    font-size: 0.95rem;
    color:rgb(0, 0, 0,0.65);
}

.category-bar .list-group-item::before{
    display: none;
}

.category-bar .list-group-item:after{
    position: absolute;
    width: calc(100% + 2px);
    height: 28px;
    top: -2px;
    left: -9.5px;
    background: var(--block-bg-focus-color);
    box-shadow: var(--box-shadow-focus);
    border-radius: 6px;
    content: "";
    z-index: -1;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.4s ease;
} 

.category-bar .list-group-item.active:after{
    transform: scale(1);
    opacity: 1;
} 

.category-bar .list-group-item.active span{
    color: white;
    font-weight: normal;
    font-family: "pingFangSC-Regular", sans-serif;
}

.category-bar .category-list  {
    overflow: visible;
}

.category-bar .category-collapse {
    padding-left: 25px;
}