/* ______基于 Fluid 主题修改侧边栏______ */



/* --------样式设置-------- */

/* 点击切换目录分栏和分类分栏 */
.post #mysidebar{
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  z-index: 99;
  top: 2rem;
  transition: background-color .2s ease-in-out, bottom .3s ease;
}
.post #mysidebar.mysidebar-left{
  top: 5rem;
  width: 67%;
}
.post #mysidebar .content-header{
  margin-top: 3rem;
 }
.post #mysidebar .content-header .pack{
  position: absolute;
  right:0;
} 
.post #mysidebar .content-header a{ 
  color:var(--sec-text-color);
  padding: 0.5rem; 
  height: 2rem;
  margin-bottom: 0.7rem;
  width: 2rem;
  background-color: var(--board-bg-color);
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}




/* --------动画设置-------- */

/* 鼠标悬浮动画 */
.post #mysidebar .content-header i{
  display: flex;
}
.post #mysidebar .content-header i:hover {
    color:var(--link-hover-color);
    animation-name: bar-icon;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.post #mysidebar .content-body .dom{
  display: none;
}
@keyframes bar-icon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}


/* 切换动画 */
.post .container-fluid.nopadding-x aside.sidebar {
  animation: getright 1s ease;
  animation-fill-mode: both;
}


/* 按钮进入动画：随页面进入       该动画已弃用，替换成随鼠标出现的动画  */
/* .post #mysidebar.mysidebar-left{
  animation: getnotedown 1s ease, getsolid 0.4s ease-in;
  animation-delay: 1s;
  animation-fill-mode: both;
} */


/* 按钮进入动画：随鼠标移动出现 */
.post .side-col.d-none.d-lg-block.col-lg-2:hover #mysidebar .content-header{
  transform: translate(-14%, 0);
  opacity: 100;
}

.post .side-col.d-none.d-lg-block.col-lg-2 #mysidebar .content-header{
  transition: 0.5s ease;
  opacity: 0;
}

